body {
  background-color: #404040;
}

* {
  color: #BFBFBF;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}


h1, h2 {
  color: #F2F2F2;
  text-align: center;
}

p, ol, ul{
  font-size: 1.2em;
  margin: 10px;
}

ul {
  list-style-type: circle;
}

a {
  color: #5080FF;
  text-decoration: none;
}

.contact-info {
  font-style: italic;
  text-align: center;
}

.extended-body {
  width: 100%;
  margin: auto;
  margin-top: 80px;
}

#main-title {
  font-weight: lighter;
}

img {
  display: block;
  margin: auto;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F2F2F2;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu li {
  float: left;
}

.menu a {
  display: block;
  color: #404040;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #8C8C8C;
}

.active {
  background-color: #BFBFBF;
}

.footer {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #F2F2F2;
}

.footer p {
  color: #000000;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align: center;
}

.photo-grid-item {
  width: 512px;
  margin: auto;
}


.photo-grid-item img {
  width: 512px;
}

/* Mobile Styles */
@media only screen and (max-width: 401px) {
  .photo-grid-item {
    width:400px;
  }
  .photo-grid-item img{
    width:400px;
  }
}
